@CHARSET "UTF-8";
.cell{
	text-align: center;
	border:solid 1px #b8b8b8;
	transition: all .5s;
	height:30px;
	line-height:30px;
}
.cell:hover{
	background-color: cyan;
}
.sel{
	background-color: red !important;
}
.point{
	background-color:green;
}
.control-menu{
	width:500px;
	margin:20px auto;
	
}